<h2><%= @movie.title %></h2>
<h2><%= @movie.creation_year %></h2>
<h2><%= @movie.genre %></h2>

<% @names.each do |actor| %>
  <p><%= actor.name %></p>
<% end %>

<%= form_with url: "/movies/#{@movie.id}", method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit 'Submit'%>
<% end %>

<h6>Average Age: <%= @average_age %></h6>
